@font-face {
  font-family: 'bernadetteregular';
  src: url('../custom-fonts/bernadette_0-webfont.woff2') format('woff2'),
       url('../custom-fonts/bernadette_0-webfont.woff') format('woff'),
       url('../custom-fonts/bernadette_0-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
