$colors: (
  wayus: #691772,
  soyfruta: #cc1e22,
  purple: #691772,
  red: #cc1e22,
  green: #00c64b,
  chicha-morada: #691772,
  cebada-linaza: #7e4602,
  durazno: #ff9e14,
  manzana: #289f40,
  maracuya: #e2ac01,
  naranja: #df6a25,
  fresa: #cc1e22,
  mango: #e7873d,
  pinia: #e7a600,
  error: #f85e62,
  white: #fff,
  light-gray: #fcf8f8,
)
